apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - admin-user-dashboard.yml
  - backend.yml
  - clusterRoleBinding.yml
  - sealed-db-secret.yaml
  - frontend.yml
  - ingress.yml
  - jenkins-deploy.yml
  - jenkins-pvc.yml
  - jenkins-rbac.yml
  - migration-job.yml
  - mongo-headless-service.yml
  - mongo-init-job.yml
  - mongo-statefulset.yml
  - secrets.yml
  - sealed-email-secrets.yaml

images:
  - name: caam-frontend
    newName: skymonil/caam-frontend
    newTag: latest
  - name: caam-backend
    newName: skymonil/caam-backend
    newTag: latest

